.fundo-cartoes {
  background: linear-gradient(135deg, #315789, #103772, #1f1f27, #1f1f27);
  width: 100%;
  min-width: 22em;
  height: 22em;
  border-radius: 1em;
  -webkit-box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  -moz-box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  margin: 2em 0;
}

.estilo-hover:hover{
  background-color: white;
}

@media screen and (max-width:765px) {
  .fundo-cartoes{
    height: 6em;
    border-radius: 1em;
  }
}