.fundo-cartoes {
  background: linear-gradient(135deg, #315789, #103772, #1f1f27, #1f1f27);
  width: 100%;
  height: 22em;
  border-radius: 5em;
  -webkit-box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  -moz-box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  margin: 2em 0;
}