* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Arial, Helvetica;

}

body {
  background-color: #343a40;
  width: 100%;
  height: 100vh;
}

.cabecalho {
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

.rodape {
  border-top: 1px solid #fff;
  margin-top: 5px;
}

.rodape button i {
  font-size: 2em;
  color: white;
}