* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
}
a{
  text-decoration: none;
}

body {
  background-color: #343A40;
  width: 100%;
}

span {
  display: flex;
  font-size: 1em;
}

.cabecalho {
  margin-bottom: 0;
  min-height: 4em;
}
.navbar-nav li {
  text-align: center;
  width: 8em;
  border-radius: 14px;
}

.navbar-nav li a {
  text-align: center;
  width: 8em;
  border-radius: 14px;
}

.conteudo {
  min-height: 25em;
}
.card-img-top {
  height: 10em;
  width: 10em;
  border-radius: 2em;
}
.rodape {
  min-height: 4em;
}

.rodape button i {
  font-size: 1em;
}

.carousel-item img {
  width: 20em;
  max-width: 50em;
  height: 20em;
  max-height: 50em;
  object-fit: contain;
}