.cartao {
  max-height: 40em;
  max-width: 100%;
  padding: 1em 0;
  margin: 0 4%;
  border-radius: 1em;
  -webkit-box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  -moz-box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
  box-shadow: -54px -45px 107px -37px rgba(0,0,0,1);
}

.cartao img{
  max-height: 8em;
  max-width: 100%;
  width: 8em;
  height: 8em;
  border-radius: 1em;
  -webkit-box-shadow: -5px -5px 50px -5px rgba(155,155,155,155);
  -moz-box-shadow: -5px -5px 50px -5px rgba(155,155,155,155);
  box-shadow: -5px -5px 50px -5px rgba(155,155,155,155);
}